* {
    box-sizing: border-box;
}

body {
    margin: 0 15px;
    max-width: 100vw;
}

main {
  overflow: scroll;
  margin: 0;
  padding: 0 15px;
  border-radius: 6px;
}

#app {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 80px 1fr 50px;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

.coll-header {
  padding-top: 10px;
}

.coll-header > h2 {
  display: inline;
}

.coll-header > button, .coll-header > input {
  float: right;
  max-width: 230px;
}

.coll-header > button {
  width: 90px;
  text-align: center;
  padding: 10px 0;
}

td, th {
  border: 1px solid gray;
}

#important-note {
  color: #ff3434;
}

.important-div {
  border: 3px solid  #ff3434;
  border-radius: 6px;
  padding: 0 15px;
}

aside {
    display: grid;
    grid-template-rows: 1fr 30px;
    height: 100%;
    padding-right: 25px;
}

aside ul {
  margin-top: 0;
}

aside a {
    display: block;
    cursor: pointer;
    padding-top: 5px;
}

aside a:hover {
    font-weight: 700;
    text-decoration: none;
}

aside button {
  width: 100%;
}

header {
    padding-top: 10px;
    grid-column: 1 / 3;
}

footer {
    grid-column: 1 / 3;
    align-content: center;
    justify-content: center;
    display: grid;
}

ul[data-level="1"]:hover > .delete-x {
  display: inline;
  cursor: pointer;
}

.delete-x {
  position: absolute;
  top: 2px;
  left: 0px;
  display: none;
  line-height: 16px;
  padding: 1px 5px 0 4px;
  color: rgb(165, 22, 22);
  border: 2px solid  rgb(165, 22, 22);
  border-radius: 50px;
  font-weight: 700;
}

ul[data-level="1"] {
  position: relative;
}

dialog {
  z-index: 2;
  position: fixed;
  top: 35%;
  padding: 0;
  border-radius: 6px;
}

dialog > header {
  padding: 10px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
}

dialog menu {
  padding: 15px;
  display: grid;
  grid-template-columns: 130px 130px;
  justify-content: center;
}

dialog menu > button {
  margin: 0 5px;
}

.modal-backdrop {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,.61);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    line-height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161f27;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: #fafafa;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(0,150,191,0.67);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(0,150,191,0.67);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 4em;
    height: 4em;
  }

  button > .loader,
  button > .loader:after {
    margin: 1px auto;
    width: 2em;
    height: 2em;
  }

  .loader {
    margin: 20px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.7s infinite linear;
    animation: load8 0.7s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  